<% user.orderlist.forEach(product =>{%>


<div>
    <p> <%= product.productId.title %></p>
    <p> <%= product.productId.price %></p>
</div>
<% }) %>


<button id="btn" type="submit">Buy</button>
<!-- Länkar våran form med javascript -->
<script src="https://js.stripe.com/v3/"></script>

<script>
    var stripe = Stripe("pk_test_xUJezNLRt6UG5qcZtoDc2Of300UCdS3JsP");
    document.querySelector("#btn").addEventListener("click", () => {
        stripe.redirectToCheckout({
            sessionId: "<%=sessionId%>"
        })
    })
</script>